/* Text Style */

.text {
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
}

/* End Of Text Style */

/* Icon Style */

.icon {
    font-size: 18px;
    color: #212121;
    margin: 0 3px;
}

/* End Of Icon Style */

/* Divider Style */

.divider {
    width: 1px;
    height: 100%;
    background-color: gray;
    margin: 2px 0;
}

/* End Of Divider Style */