/* Search Box Style */

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

/* End Of Search Box Style */